.loadingIndicator {
  height: 45px;
  width: 50px;
  border-color: white;
  border-radius: 25px;
  border-width: 8px 0px 8px 0px;
  border-style: solid;
  animation-name: rotation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
