@font-face {
  font-family: 'Aller';
  src: url('../../fonts/Aller.ttf');
}

:root {
  --global--width: 500px;
  --global--transition--duration: 0.3s;
  --global--transition--timing--function: ease;
}

.whiteCircle {
  background-color: white;
  width: var(--global--width);
  height: var(--global--width);
  border-radius: calc(var(--global--width) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--global--transition--duration);
  transition-timing-function: var(--global--transition--timing--function);
}

.pinkCircle {
  background-color: #f762a4;
  width: calc(var(--global--width) - 50px);
  height: calc(var(--global--width) - 50px);
  border-radius: calc((var(--global--width) - 50px) / 2);
  color: white;
  font-size: calc(var(--global--width) / 3);
  font-family: 'Aller';
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: var(--global--transition--duration);
  transition-timing-function: var(--global--transition--timing--function);
}

.whiteCircle:hover > :root {
  --global--width: 600px;
}
