@font-face {
  font-family: 'Aller';
  src: url('../../fonts/Aller.ttf');
}

:root {
  --mainWidth: 500px;
}

.whiteCircle {
  background-color: white;
  width: var(--mainWidth);
  height: var(--mainWidth);
  border-radius: calc(var(--mainWidth) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinkCircle {
  background-color: #f762a4;
  width: calc(var(--mainWidth) - 50px);
  height: calc(var(--mainWidth) - 50px);
  border-radius: calc((var(--mainWidth) - 50px) / 2);
  color: white;
  font-size: calc(var(--mainWidth) / 3);
  font-family: 'Aller';
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
